.info__name{
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #FFF;
  margin: 0;
  padding: 18px 17px 0 0;
  max-width: 523px;
}
@media screen and (max-width: 881px){
  .info__name{
    font-size: 27px;
    text-align: center;
    padding: 0 0 0 30px;
    min-width: 201px;
    max-height: 38px;
  }
}