.block-popup__field{
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 13px;
  min-width: 354px;
  border: 0;
}

@media screen and (max-width: 881px){
  .block-popup__field{
    min-width: 210px;
  }
}