.info__job{
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  margin: 0;
  padding-top: 16px;
  min-width: 582px;
}
@media screen and (max-width: 881px){
  .info__job{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 14px;
    min-width: 100%;
    margin: 0 auto;
  }
}