@import url(./__name/text__name.css);
@import url(./__like/text__like.css);
.text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 240px;
  min-height: 23px;
  margin: 0 auto;
  padding-top: 25px;
}